$product-card-transition: all 350ms ease-in-out;
$product-card-border-radius: .25rem;
$product-card-box-shadow: 0 0 1.25rem 0 rgba(black, .1);
$product-card-hover-box-shadow: 0 0 1.5rem 0 rgba(black, .15);
$product-card-frame-border-radius: $product-card-border-radius $product-card-border-radius 0 0;
$product-card-spacing: 1rem;
$product-card-link-text-color: #222;
$product-card-bg: white;

.product-card {
  height: 100%;
  background: $product-card-bg;
  border-radius: $product-card-border-radius;
  box-shadow: $product-card-box-shadow;
  transition: $product-card-transition;

  &:hover {
    box-shadow: $product-card-hover-box-shadow;
  }

  &--lg {
    .post-card__frame {
      height: 300px;
    }
  }

  &--sm {
    .post-card__frame {
      height: 100px;
    }

    .post-card__info {
      padding: $product-card-spacing;
    }
  }

  &__link {
    color: $product-card-link-text-color;

    &:hover {
      text-decoration: none;
    }
  }

  &__info {
    z-index: 9999;
    padding: $product-card-spacing;
    width: 100%;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    color: $product-card-link-text-color;

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }
  }

  &__categories {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: $product-card-spacing;
  }

  &__frame {
    position: relative;
    overflow: hidden;
    margin: 0;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $product-card-frame-border-radius;
    filter: brightness(110%);

    &:hover {
      .post-card__frame__img {
        opacity: .75;
        transform: scale(1.05);
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: $product-card-transition;
    }
  }
}
