.navbar {
  z-index: 2000;
  height: 150vh;
}

.navbar.fullscreen {
  position: fixed;
  padding: 0 0 0 8rem;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background: rgba(#222, 1);

  &.hidden {
    display: none;
  }

  &.visible {
    display: flex;
  }

  .nav-link {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: white;

    &:hover {
      &::after {
        width: 125%;
      }
    }
    
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 75%;
      background: white;
      transition: all 700ms cubic-bezier(.1,1.2,.9,1);
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar.fullscreen {
    padding: 0 0 0 6rem;
  }
}
