<main class="container my-5">
  <section *ngIf="product$ as product">
    <div class="row">
      <article class="col-sm-6">
        <figure class="product__image">
          <!--
            <img [src]="product.images[0].shop_single" [alt]="product.images[0].alt" />
          -->
          <ngb-carousel *ngIf="product.images">
            <ng-template ngbSlide *ngFor="let image of product.images">
              <img [src]="image.shop_single" alt="image.alt" />
            </ng-template>
          </ngb-carousel>
        </figure>
      </article>
      <article class="col-sm-6">
        <header class="mb-5">
          <h1>{{ product.name }}</h1>
        </header>
        <section>
          <h4>{{ product.price | currency: "DKK" }}</h4>
          <div [innerHTML]="product.description"></div>
        </section>
        <footer>
          <div class="form-group row">
            <label for="quantity" class="col-auto col-form-label"
              >Quantity</label
            >
            <div class="col">
              <input
                class="form-control"
                type="number"
                value="1"
                id="quantity"
                (keyup)="changeQuantity($event)"
              />
            </div>
          </div>
          <div class="btn-group">
            <button
              class="btn btn-primary"
              (click)="addToCart({ product_id: product.id })"
              [@addProduct]="animate ? 'start' : 'end'"
              [disabled]="animate"
            >
              {{ animate ? 'Added to cart' : 'Add to cart' }}
            </button>
          </div>
        </footer>
      </article>
    </div>
    <footer class="my-5" *ngIf="product.related_ids.length">
      <h2>Related Products</h2>
      <div class="row">
        <div class="col-4" *ngFor="let id of product.related_ids">
          <app-product-relation [id]="id"></app-product-relation>
        </div>
      </div>
    </footer>
  </section>
</main>
