<main *ngIf="product$ as product">
  <section class="jumbotron" *ngIf="product.images.length > 1">
    <ng-container *ngFor="let image of (product.images | slice: 1)">
      <figure class="gallery">
        <img [src]="image.src" [alt]="image.alt" class="gallery__image" />
      </figure>
    </ng-container>
  </section>
  <section class="container my-5">
    <div class="row">
      <article class="col-sm-6">
        <figure class="product__image">
          <img
            [src]="product.images[0].shop_single"
            [alt]="product.images[0].alt"
          />
        </figure>
      </article>
      <article class="col-sm-6">
        <header class="mb-5">
          <ng-container *ngFor="let category of product.categories">
            <span
              class="badge badge-pill bg-white text-muted py-2 px-3 my-1 mr-1"
              >{{ category.name }}</span
            >
          </ng-container>
          <h1>{{ product.name }}</h1>

          <!-- Rating start -->
          <ng-template #rating let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill" (click)="rate($event)"
                >&hearts;</span
              >&hearts;
            </span>
          </ng-template>

          <ngb-rating
            [(rate)]="product.average_rating"
            [starTemplate]="rating"
            (click)="rate(product.average_rating)"
            max="5"
          ></ngb-rating>
          <!-- <p *ngIf="product.average_rating > 0">{{ product.average_rating }}</p> -->
          <!-- Starting end -->
        </header>
        <section>
          <h4>{{ product.price | currency: 'DKK' }}</h4>
          <div [innerHTML]="product.short_description"></div>
        </section>
        <footer>
          <div class="form-group row">
            <label for="quantity" class="col-auto col-form-label"
              >Quantity</label
            >
            <div class="col">
              <input
                class="form-control"
                type="number"
                value="1"
                id="quantity"
                (keyup)="changeQuantity($event)"
              />
            </div>
          </div>
          <button
            class="btn btn-primary mr-2"
            (click)="addToCart({ product_id: product.id })"
            [@addProduct]="animate ? 'start' : 'end'"
            [disabled]="animate"
          >
            {{ animate ? 'Added to cart' : 'Add to cart' }}
          </button>
          <button routerLink="/cart" class="btn btn-link">
            Go to cart
          </button>
        </footer>
      </article>
    </div>
    <section class="my-3">
      <ngb-tabset justify="justified">
        <ngb-tab>
          <ng-template ngbTabTitle>Description</ng-template>
          <ng-template ngbTabContent>
            <div class="my-2">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis
                in quos odio, minus repellendus itaque eaque facilis natus
                explicabo tenetur laboriosam velit nesciunt illum sunt corrupti
                delectus, molestiae, eum quisquam rerum? Saepe nostrum laborum
                nisi illo quia similique, ducimus tenetur possimus. Aliquid,
                mollitia. Quod animi modi dicta explicabo quam aut nemo
                dignissimos ipsum aperiam minus. Nulla, laborum facere.
                Voluptas, suscipit?
              </p>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Title</ng-template>
          <ng-template ngbTabContent>
            <div class="my-2">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem molestiae neque perferendis nulla iure, ipsam
                dignissimos reiciendis reprehenderit, tempora at quis veritatis
                dolorem fugiat porro officia assumenda. Commodi cum distinctio,
                quis aliquam cupiditate atque et, totam, nesciunt expedita odit
                temporibus.
              </p>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Title</ng-template>
          <ng-template ngbTabContent>
            <div class="my-2">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Molestiae hic itaque est adipisci voluptatibus cum officiis, in
                id odio obcaecati porro quisquam magni ipsa autem vitae quidem
                assumenda aliquam consequuntur!
              </p>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </section>
    <footer class="my-5" *ngIf="product.related_ids.length">
      <h2>Related Products</h2>
      <div class="row">
        <div class="col-4" *ngFor="let id of product.related_ids">
          <app-product-relation [id]="id"></app-product-relation>
        </div>
      </div>
    </footer>
  </section>
</main>
