.product__image {
  overflow: hidden;
  max-height: 400px;
  display: flex;
  align-items: center;

  img {
    object-fit: cover;
  }
}

.active {
  display: flex;
  align-items: center;

  img {
    object-fit: cover;
  }
}

.jumbotron {
  overflow: hidden;
  padding: 0;
  height: 400px;
  display: flex;
  background: #222;
}

.gallery {
  display: flex;
  align-items: center;

  &__image {
    height: 100%;
    object-fit: cover;
  }
}

ngb-rating {
  outline: none;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.full {
  color: red;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}
