<section class="jumbotron">
  <h1 class="display-1 text-uppercase text-center">Products</h1>
</section>
<main class="container my-5">
  <section class="row">
    <ng-container *ngFor="let product of products$">
        <a [routerLink]="['../product', product.id]" routerLinkActive="active" class="product-card__link col-md-4 col-sm-6">
          <article class="product-card">
            <figure class="product-card__frame">
              <img [src]="product.images[0].src" [alt]="product.images[0].alt" class="product-card__frame__img">
            </figure>
            <header class="product-card__info">
              <h2>{{ product.name }}</h2>
              <h5>{{ product.date_created | date }}</h5>
            </header>
          </article>
        </a>
    </ng-container>
  </section>
</main>