.product__image {
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: cover;
  }
}

.product__link:hover {
  text-decoration: none;
}
