<a
  *ngIf="product$ as product"
  [routerLink]="['../', product.id]"
  class="product__link"
  (click)="pageTransition.play()"
>
  <article class="product">
    <header class="my-3">
      <h3 class="product__title text-muted">{{ product.name }}</h3>
      <span class="h6 text-muted">{{ product.price | currency: 'DKK' }}</span>
    </header>
    <section>
      <figure class="product__image">
        <img
          [src]="product.images[0].woocommerce_thumbnail"
          [alt]="product.images[0].alt"
        />
      </figure>
    </section>
  </article>
</a>
