@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
